@font-face {
    font-family: '';
    src: url('ShinGoPro-Bold-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-Bold-AlphaNum.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ShinGoPro-ExLight-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-ExLight-AlphaNum.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ShinGoPro-DeBold-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-DeBold-AlphaNum.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ShinGoPro-Heavy-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-Heavy-AlphaNum.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ShinGoPro-Light-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-Light-AlphaNum.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ShinGoPro-Medium-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-Medium-AlphaNum.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ShinGoPro-Regular-AlphaNum.woff2') format('woff2'),
        url('ShinGoPro-Regular-AlphaNum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

