



ul.tech {
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: center;
  align-items: center;
}

ul.tech li {
  list-style: none;
  position: relative;

  cursor: pointer;
  
  /* border-radius: 11em; */
}





.spinner {
  width: 60px;
  height: 60px;
  margin: 0 0px;
  border-radius: 100%;
  background: #6d7283;
  padding: 0.75em;
  position: relative;
  overflow: hidden;
  animation: spin 5s linear infinite;
}

/* .spinner::before {
  content: '';
  position: absolute;
  top: 150px;
  left: 225px;
  height: 50px;
  width: 50px;
  background: red;
} */

ul.tech li img {
  position: relative;
  width: 100%;
  height: 100%;
}

ul.tech li .spinner::after,
ul.contact-social li .spinner::after,
ul.tabs li .spinner::after{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  width: 30px;
  background: #ffffff75;
  box-shadow: 0  0 10px #ffffff7c;
  filter: blur(5px);
  opacity: 0.9;
  transition: 0.7s;
    animation: shining 10s infinite;
}

@keyframes shining {
  0% {
    transform: translateX(-100px);
    }

  25% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-100px);
    }

    75% {
      transform: translateX(50px);
    }
  
    100% {
      transform: translateX(-100px);
      }

}
@media screen and (max-width: 980px) {
  
}
@media screen and (max-width: 736px) {
  ul.tech {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul.tech .spinner {
  width: 50px;
  height: 50px;
}
  
  ul.tech li {
    list-style: none;
    /* width: calc((100% - 20px) / 3); */

    box-sizing: border-box;
  }
  
  ul.tech li img {
    position: relative;
    cursor: pointer;
    /* width:35px; */
  }
}

  ul.tech li.spin {
    animation: spin 1s ease-out;
    }

ul.tech li:hover .spinner,
ul.contact-social li:hover .spinner,
ul.tabs li:hover .spinner
 {
      animation:none;
      transform: scale(1.25);
      /* background: #86ff3b;
  box-shadow: 0 0 0 4px #333,
              0 0 0 6px #86ff3b; */
  }

  ul.tech li:hover .spinner::after{
    animation:none;
  }

  /* ul.tech li .tooltip {
    position: absolute;
    bottom: 75px;
    width: 250px;
    left: 25px;
    background: #fff;
    padding: 25px;
    box-sizing: border-box;
    border-radius:  4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50px);
  } */

  ul.tech li .tooltip {
    position: absolute;
    top: 75px;
    width: 250px;
    left: 25px;
    background: #fff;
    padding: 25px;
    box-sizing: border-box;
    border-radius:  4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) translateY(50px);
  }

  ul.tech li .tooltip h2 {
    color: black;
		font-family: 'A-OTF Shin Go Pro M';
    text-align: center;
		font-size: 7.5pt;
  }

  ul.tech li .tooltip p {
    color: black;
		font-family: 'A-OTF Shin Go Pro R';
    text-align: left;
		font-size: 7.5pt;
  }

  ul.tech li:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }

  ul.tech li .tooltip:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    top: -12.5px;
    left: 112.5px;
    transform: rotate(45deg);
  }

  @keyframes spin {
    from {
      transform: rotateY(0deg);
  }
    to {
      transform: rotateY(360deg);
    }
/* 
    0% {
      transform: scale(1, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
    100% {
      transform: scale(1, 1);
    } */
    }

    /* ul.tech li {
      display: inline-block;
      align-items: center;
      justify-content: center;
      width: 4em;
      vertical-align: middle;
  
  
  
      animation: spin 5s linear infinite;
    }
    ul.tech li.spin {
      animation: spin 1s ease-out;
      }

    ul.tech li:hover {
      animation:none;
      }

      ul.tech li::before{
        content:'';
        float: left;
        width: auto;
        padding-bottom: 100%;    
      }

      .tooltip {
        position: relative;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        position: absolute;
        z-index: 1;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      } */


  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #565B6B;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  text-transform: uppercase;

  /* margin-bottom: 18px; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  background-color: #E56E59;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  /*background-color: white;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*Box*/

.box {
  border-radius: 0.375em;
  border: solid 1px rgba(210, 215, 217, 0.75);
  margin-bottom: 2em;
  padding: 1.5em;
}

video {
  top: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%;  */
  overflow: hidden;
}

/* Canvas */

div.canvas {
  display:           table-cell;
  width:             1280px;
  height:            800px;
  background:        black;
  vertical-align:    middle;
}

div.canvas > video {
  display:           block;
  margin:            auto;
}

div.canvas > img {
  display:           block;
  margin:            auto;
}


.youtubevideo {
  width: 100%;
  height: 490px;
  overflow: hidden;
  position: relative;
}


/* iframe {
  width: 100%;
  height: 100%;
} */



/* a.project-title {
  text-decoration: none;
  position: relative;
}

a.project-title::before {
  content: '';
  background-color: #E56E59;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a.project-title:hover::before {
  bottom: 0;
  height: 100%;
} */



/* Presentational Styles */
body {
  line-height: 1.5;
  /* height: 100vh; */
  place-items: center;
}




.code-bg1{
  background-image: url("../../images/hello-world-html-code-768x384.webp");
  opacity: 10%;
  width: 30%;
  padding-bottom:  100%;
  margin-top: -5em;
  margin-bottom: -100%;
  pointer-events: none;
}


.code-bg{
  position: relative;
  opacity: 20%;
  /* max-width: 600px; */
  width: 700px;
  width: 100%;
  margin-top: -5em;
  margin-bottom: -10em;
  pointer-events: none;
  z-index: -10;
}


.a{
  margin: 0;
  padding: 0;
  min-height: 75vh;
  background: #333;
  background:#16202B;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.education-container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.education-container .unit-card
{
  position: relative;
}

.education-container .unit-card .face
{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.education-container .unit-card .face.face1
{
  position: relative;
  background-color: #333;
  background:#16202B;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.education-container .unit-card:hover .face.face1
{
  background-color: #D4A87A;
  transform: translateY(0);
}

.education-container .unit-card .face.face2
{
  position: relative;
  background-color: #333;
  background:#16202B;
  /* background-color: #ffffff;
  color: #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.education-container .unit-card:hover .face.face2
{
  transform: translateY(0px);
}

.education-container .unit-card .face.face2 .unit-content p
{
  margin: 0;
  padding: 0;
}

.education-container .unit-card .face.face2 .unit-content a
{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.education-container .unit-card .face.face2 .unit-content a:hover
{
  background: #333;
  color: #fff;
}

.education-container .unit-card .face.face1 .unit-content
{
  opacity: 0.2;
  transform: 0.5s;
}

.education-container .unit-card:hover .face.face1 .unit-content
{
  opacity: 1;
}
.education-container .unit-card .face.face1 .unit-content img
{
  max-width: 100px;
}
.education-container .unit-card .face.face1 .unit-content h3
{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

img{
  overflow: hidden;
  cursor: pointer;
}



.popup-image
{
  position: fixed;
  top: 0;
  left: 0;
  background: #16202ba6;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;

  cursor: pointer;
}

/* .popup-image span
{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  z-index: inherit;
} */

.popup-image img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  max-height: 80%;
  max-width: 80%;
  /* width: 750px; */
  object-fit: contain;
}

.project-bg.scroll-transition video{
  transform: scale(0, 1);
}

.project-bg.scroll-transition.end video {
  transform: scale(1, 1);
}

.description.scroll-transition {
  opacity: 0;
}

.description.scroll-transition.end {
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@media screen and (min-width: 980px) {
  .spotlights > section.left .description.scroll-transition {
    transform: translateX(60px);
  }
  .spotlights > section.right .description.scroll-transition {
    transform: translateX(-60px);
  }

  .spotlights > section.left .description.scroll-transition.end {
    transform: translateX(0px);
  }
  .spotlights > section.right .description.scroll-transition.end {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 980px) {

  .spotlights > section.left .description.scroll-transition {
    transform: translateX(60px) translateY(-50%);
  }
  .spotlights > section.right .description.scroll-transition {
    transform: translateX(-60px) translateY(-50%);
  }

  .spotlights > section.left .description.scroll-transition.end {
    transform: translateX(0px) translateY(-50%);
  }
  .spotlights > section.right .description.scroll-transition.end {
    transform: translateX(0px) translateY(-50%);
  }
}

/* .spotlights > section.scroll-transition {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
.spotlights > section.scroll-transition.end {
  opacity: 1;
} */

.project-date.scroll-transition {
  opacity: 0;
}

.project-date.scroll-transition.end {
  opacity: 1;
}


.project-tech-list.scroll-transition li,
.tech.scroll-transition li,
.contact.scroll-transition li,
.tabs.scroll-transition li {
  transform: scale(0, 0);
}

.project-tech-list.scroll-transition li.end,
.tech.scroll-transition li.end,
.contact.scroll-transition li.end,
.tabs.scroll-transition li.end {
  transform: scale(1, 1);
  transition: transform 0.25s ease-out;
}