:root ul.tech li#unity {
  --tech-spinner-bg: #bfbfbf;
}
:root ul.tech li#c-sharp {
  --tech-spinner-bg: #dc7cff;
}
:root ul.tech li#git {
  --tech-spinner-bg: #ff9578;
}
:root ul.tech li#firebase {
  --tech-spinner-bg: #ffb778;
}
:root ul.tech li#js {
  --tech-spinner-bg: #fff47a;
}
:root ul.tech li#html {
  --tech-spinner-bg: #FABC4F;
}
:root ul.tech li#css {
  --tech-spinner-bg: #38ADDE;
}
:root ul.tech li#java {
  --tech-spinner-bg: #F2F2F2;
}
:root ul.tech li#visual-studio {
  --tech-spinner-bg: #F2F2F2;
}
:root ul.tech li#json {
  --tech-spinner-bg: #858585;
}
:root ul.tech li#trello {
  --tech-spinner-bg: #F2F2F2;
}
:root ul.tech li#notion {
  --tech-spinner-bg: #000000;
}
:root ul.tech li#python {
  --tech-spinner-bg: #F2F2F2;
}
:root ul.tech li#android-studio {
  --tech-spinner-bg: #F6F6F6;
}

:root ul.contact-social li#github {
  --tech-spinner-bg: var(--colour-1-bright);
}
:root ul.contact-social li#linkedin {
  --tech-spinner-bg: var(--colour-4-bright);
}
:root ul.contact-social li#itch-io {
  --tech-spinner-bg: var(--colour-2-bright);
}
:root ul.contact-social li#youtube {
  --tech-spinner-bg: var(--colour-3-bright);
}

:root ul.platform li#steam {
  --tech-spinner-bg: #ffffff;
}
:root ul.platform li#itch-io {
  --tech-spinner-bg: #fa5c5c;
}
:root ul.platform li#google-play {
  --tech-spinner-bg: #ffffff;
}

:root .resume-button .spinner {
  /* --tech-spinner-bg: var(--secondary-1); */
  --tech-spinner-bg: var(--purple);
}

:root ul.spinner-list li .spinner::after,
:root .resume-button .spinner::after {
  --spinner-shine-bg: #ffffffc1;
}
:root ul.spinner-list li:hover .spinner::after,
:root .resume-button:hover .spinner::after {
  --spinner-shine-bg: var(--tech-spinner-bg);
}

ul.tabs {
  padding-bottom: 2em;
}

ul.other-game-jams
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  flex-direction: row;
  list-style: none;
}

ul.other-game-jams li {
  margin: 1em;
}

ul.other-game-jams li img {
  width: 100%;
  height: 100%;
  transform: scale(1.55);
}

ul.platform {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  flex-direction: row;
  list-style: none;
}

ul.platform li {
  display: block;
  position: relative;
  top: 0;
  margin: 10px;
}

ul.platform li img {
  width: 100%;
  height: 100%;
  
}

ul.tech {
  position: relative;
  display: flex;
  align-items: center;

  padding: 0;

  flex-direction: row;
}

ul.tech li {
  display: block;
  position: relative;
  top: 0;
  margin: 10px;
}

ul.spinner-list li,
.resume-button {
  /* animation: hover 3s linear infinite; */
  
}

ul.spinner-list {
  /* background-color: #38ADDE; */
  flex-wrap: wrap;

}

@keyframes hover {
  0% {
    transform: translateY(3px) scale(1, 1);
    }

  50% {
    transform: translateY(-3px) scale(1, 1);
  }

  100% {
    transform: translateY(3px) scale(1, 1);
    }
}

#project-content-wrapper,
#project-top  {
  opacity: 0;
  transition: opacity 1s ease;
}

.spinner {
  width: 60px;
  height: 60px;
  margin: 0 0px;
  border-radius: 100%;
  background: var(--tech-spinner-bg);
  padding: 0.75em;
  position: relative;
  overflow: hidden;
  
  animation: spin 5s linear infinite;
}

ul.tech li .spinner {
  pointer-events: none;
}

ul.tech li .spinner {
  width: 40px;
  height: 40px;
}

ul.platform li .spinner {
  width: 50px;
  height: 50px;
}

ul.tech .spinner img {
  height: 100%;
  width: 100%;
  object-fit: contain
}

/* Shadow */
ul.spinner-list li::after,
/* ul.tech li::after,
ul.contact-social li::after,
ul.platform li::after, */

.resume-button::after,
ul.tabs li:has(div.spinner)::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  box-shadow: 0 20px 10px -5px rgba(0, 0, 0, 0.5);
  animation: spin 5s linear infinite;
  height: 100%;
  width: calc(100% - 3.5px);
  pointer-events: none;
}



ul.tech li .tooltip {
  position: absolute;
  color: var(--tech-spinner-bg);
  font-family: 'A-OTF Shin Go Pro R';
  top: 0px;
  padding: 10px;
  box-sizing: border-box;
  border-radius:  1.5em;
  transition: 0.5s;
  transform: translate(-50%);
  left: 50%;
  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  transition: 0.25s;
  
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  background-color: var(--project-content-bg);
}
ul.tech li .tooltip h2 {
  /* color: var(--tech-spinner-bg); */
  color: var(--text-dark);
}

ul.tech li .tooltip img {
  height: 25px;
  width: auto;
  /* top: -2px; */
}
ul.tech li .tooltip h2::after {
  content: "XP";
  color: var(--text-dark);
  font-family: 'A-OTF Shin Go Pro H';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  z-index: 1;
}
ul.tech li:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%) translateY(-90px);
}



/* Shine */
ul.spinner-list li .spinner::after,
.resume-button .spinner::after{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  width: 30px;
  background: var(--spinner-shine-bg);
  box-shadow: 0  0 10px #ffffffde;
  filter: blur(5px);
  opacity: 0.9;

    animation: shining 10s infinite;
  pointer-events: none;
}

@keyframes shining {
  0% {
  transform: translateX(-100px);
    }

  25% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-100px);
    }

    75% {
      transform: translateX(50px);
    }
  
    100% {
      transform: translateX(-100px);
      }

}
@media screen and (max-width: 1280px) {


.ribbon ul.tech {
  justify-content: center;
  align-items: center;
}
  
  ul.tech li {
    list-style: none;
    /* width: calc((100% - 20px) / 3); */

    box-sizing: border-box;
  }
  
  ul.tech li img {
    position: relative;
    cursor: pointer;
    /* width:35px; */
  }
}

  ul.tech li.spin {
    animation: spin 1s ease-out;
    }

    ul.spinner-list li:hover .spinner::after
{
  background: var(--tech-spinner-bg);
}

/* Spinner */
ul.spinner-list li:hover .spinner,



/* Shadow */
ul.spinner-list li:hover::after,

/* Resume Button */
.resume-button:hover::after,
.resume-button:hover .spinner,
.resume-button:hover .spinner::after,

ul.spinner-list li:hover,
.resume-button:hover
/* Hover */
 {
      animation:none;
      background: none;
      transform: scale(1.25);
      overflow:visible;
      box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.5);
  }

/* Shine */
ul.spinner-list li:hover .spinner::after,
.resume-button:hover .spinner::after
{
      animation:none;
      transition: background 0.1s linear, opacity 0.7s linear;
      opacity: 0;
      width: 100%;
      transform: translateX(-50%);
      left: 50%;
      z-index: -1;
}

  ul.spinner-list li:hover .spinner > img
  {
    transform: scale(1.5);
  }

  @keyframes spin {
    from {
      transform: rotateY(0deg);
  }
    to {
      transform: rotateY(360deg);
    }
    }

      .accordion {
        margin-bottom: 10px;
      }

      .accordion-item {
        position: relative;
        margin-bottom: -10px;
      }
      
      .accordion-header {
        position: relative;
        background-color: var(--colour-bright);
        padding: 10px;
        cursor: pointer;
        font-family:'A-OTF Shin Go Pro R';
        /* text-transform: uppercase; */

        transition: background-color 0.3s ease-out, color 0.3s ease-out;
      }
      .accordion-header:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-left: 5px;
      }
      .accordion-header:hover {
        background-color: var(--colour-dark);
      }
      
      .accordion-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        margin: 10px;
      }
      
      .accordion-item.active > .accordion-content {
        height: auto;
        transition: max-height 0.3s ease-in;
      }
      
      .accordion-item.active > .accordion-header {
        background-color: #f3eee6;
        color: black;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
      }
      .accordion-item.active > .accordion-header:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }


      /* .accordion {
        margin-bottom: 10px;
      }

      .accordion > .accordion-item {
        position: relative;
        margin-bottom: -10px;
      }
      
      .accordion > .accordion-item > .accordion-header {
        position: relative;
        background-color: #383838;
        padding: 10px;
        cursor: pointer;
      }
      
      .accordion > .accordion-item > .accordion-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        margin: 10px;
      }
      
      .accordion > .accordion-item.active > .accordion-content {
        height: auto;
        transition: max-height 0.2s ease-in;
      }
      
      .accordion > .accordion-item.active > .accordion-header {
        background-color: #ccc;
      } */
/*Box*/

.box {
  border-radius: 0.375em;
  border: solid 1px rgba(210, 215, 217, 0.75);
  margin-bottom: 2em;
  padding: 1.5em;
}

video {
  top: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%;  */
  overflow: hidden;
}

/* Canvas */

div.canvas {
  display:           table-cell;
  width:             1280px;
  height:            800px;
  background:        black;
  vertical-align:    middle;
}

div.canvas > video {
  display:           block;
  margin:            auto;
}

div.canvas > img {
  display:           block;
  margin:            auto;
}


.youtubevideo {
  width: 100%;
  height: 490px;
  overflow: hidden;
  position: relative;
}


/* iframe {
  width: 100%;
  height: 100%;
} */



/* a.project-title {
  text-decoration: none;
  position: relative;
}

a.project-title::before {
  content: '';
  background-color: #E56E59;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a.project-title:hover::before {
  bottom: 0;
  height: 100%;
} */



/* Presentational Styles */
body {
  line-height: 1.5;
  /* height: 100vh; */
  place-items: center;
}

.education-container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.education-container .unit-card
{
  position: relative;
}

.education-container .unit-card .face
{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.education-container .unit-card .face.face1
{
  position: relative;
  background-color: #333;
  background:#16202B;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.education-container .unit-card:hover .face.face1
{
  background-color: #D4A87A;
  transform: translateY(0);
}

.education-container .unit-card .face.face2
{
  position: relative;
  background-color: #333;
  background:#16202B;
  /* background-color: #ffffff;
  color: #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.education-container .unit-card:hover .face.face2
{
  transform: translateY(0px);
}

.education-container .unit-card .face.face2 .unit-content p
{
  margin: 0;
  padding: 0;
}

.education-container .unit-card .face.face2 .unit-content a
{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.education-container .unit-card .face.face2 .unit-content a:hover
{
  background: #333;
  color: #fff;
}

.education-container .unit-card .face.face1 .unit-content
{
  opacity: 0.2;
  transform: 0.5s;
}

.education-container .unit-card:hover .face.face1 .unit-content
{
  opacity: 1;
}
.education-container .unit-card .face.face1 .unit-content img
{
  max-width: 100px;
}
.education-container .unit-card .face.face1 .unit-content h3
{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

img{
  overflow: hidden;
  cursor: pointer;
}



.popup-image
{
  position: fixed;
  top: 0;
  left: 0;
  background: #16202ba6;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;

  cursor: pointer;
}

/* .popup-image span
{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  z-index: inherit;
} */

.popup-image img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  max-height: 80%;
  max-width: 80%;
  /* width: 750px; */
  object-fit: contain;
}

.project-bg.scroll-transition video{
  transform: scale(0, 1);
}

.project-bg.scroll-transition.end video {
  transform: scale(1, 1);
  transition: transform 0.5s ease-out;
}

.project-bg::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    opacity: 25%;
    background-color: var(--colour-dark);
  pointer-events: none;
  border-radius:1em;
  transition: all 500ms ease-in;

}

.project-bg.scroll-transition::after
{
    opacity: 0;
    transform: scale(0, 1);
  }
.project-bg.scroll-transition.end::after
{
  opacity: 25%;
  transform: scale(1, 1);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.description.scroll-transition {
  opacity: 0;
}

.description.scroll-transition.end {
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@media screen and (min-width: 980px) {
  .spotlights > section.left .description.scroll-transition {
    transform: translateX(60px);
  }
  .spotlights > section.right .description.scroll-transition {
    transform: translateX(-60px);
  }

  .spotlights > section.left .description.scroll-transition.end {
    transform: translateX(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
  .spotlights > section.right .description.scroll-transition.end {
    transform: translateX(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
}

@media screen and (max-width: 980px) {

  .spotlights > section.left .description.scroll-transition {
    transform: translateX(60px) translateY(-50%);
  }
  .spotlights > section.right .description.scroll-transition {
    transform: translateX(-60px) translateY(-50%);
  }

  .spotlights > section.left .description.scroll-transition.end {
    transform: translateX(0px) translateY(-50%);
  }
  .spotlights > section.right .description.scroll-transition.end {
    transform: translateX(0px) translateY(-50%);
  }
}

/* .spotlights > section.scroll-transition {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
.spotlights > section.scroll-transition.end {
  opacity: 1;
} */

.project-date.scroll-transition {
  opacity: 0;
}

.project-date.scroll-transition.end {
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.tech.scroll-transition li,
.contact.scroll-transition li,
.tabs.scroll-transition li {
  transform: scale(0, 0);
  animation: none;
}

.tech.scroll-transition li.end,
.contact.scroll-transition li.end,
.tabs.scroll-transition li.end {
  transition: transform 0.25s ease-out;
  animation: hover 3s linear infinite;
  
}

.project-tech-list.scroll-transition li{
  transform: scale(0, 0);
}

.project-tech-list.scroll-transition li.end {
  transition: transform 0.25s ease-out;
  transform: scale(1, 1);
}