[data-tab-content] {
    display: none;
}

.tab-content .active[data-tab-content]{
    display: block;
}

.tab-content {
}

/* .tabs{
    position: relative;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    gap: 3em;
} */

/* .tab {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.tabs .spinner{
    padding: 0;
} */







/* Game Jam Info */
table.game-jam-info {
    padding: 2em;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;  
  }
  
  table.game-jam-info td,
  table.game-jam-info th {
    padding: 5px;
    text-align: left;
  
  }
  
   table.game-jam-info > tr {
      margin-bottom: 0px;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
  
    }
  
    table.game-jam-info tr  :nth-child(2n - 1) {
      padding-right: 1em;
      text-transform: uppercase;
      font-family:'A-OTF Shin Go Pro R';
      text-align: right;
  }
  
  table.game-jam-info tr :nth-child(2n) {
    text-align: left;
      padding-left: 1em;
    }

    #game-jam-spinners
    {
      position: relative;
      margin: 0 auto;
      width: 1100px;
      color: var(--text-light);
    }
    
    @media screen and (min-width: 1280px) {
    
      #game-jam-spinners {
          padding: 5em;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    
    
    @media screen and (max-width: 1280px) {
    
      #game-jam-spinners {
        width: 90%;
        }
      }
      
        @media screen and (max-width: 1080px) {
    
        #game-jam-spinners  {
            width: 95%;
          }
      
        }
      
        @media screen and (max-width: 980px) {
    
        #game-jam-spinners  {
            width: 100%;
        }
        }
    
        @media screen and (max-width: 736px) {
    
        #game-jam-spinners {
          padding: 2em 2em;
          width: 100%;
        }
        }