[data-tab-content] {
    display: none;
}

.tab-content .active[data-tab-content]{
    display: block;
}

.tabs{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    
}

.tabs li img{
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    /* background: #777; */
    margin: 0 0px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  
    animation: spin 5s linear infinite;
}