.interactable {
    position: relative;
    display: block;
    width: max-content;
    clear: both;
    position: relative;

    /* position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1232; */

    /* border: 1px solid rgb(255, 0, 0); */

    /* height: 64px; */
    /* width: 64px; */
    
    /* background-color: aqua; */
    /* border: 1px solid rgb(255, 0, 0); */
}

#project-top .interactable {
    margin-top: 1em;
    margin-bottom: 1em;
}