#highlight-projects .spotlights > section
{
	--plain-text-colour: var(--text-light)
}

#work-projects .spotlights > section
{
	--plain-text-colour: var(--text-light)
}

#projects .spotlights > section
{
	--plain-text-colour: var(--text-dark)
}

#highlight-projects
{
	--project-panel-1: #b8d2d4;
	--project-panel-2: #468797;
	/* --project-panel-1: #58888d;
	--project-panel-2: #b8d2d4; */
	--bg: var(--background-4);
	--project-date: var(--nav-span);
}

#work-projects
{
	--project-panel-1: #b8d2d4;
	--project-panel-2: #468797;
	--bg: var(--background-3);
	--project-date: var(--nav-span-2);
}

#projects
{
	--project-panel-1: #f3eee6;
	--project-panel-2: #f3eee6;
	--bg: var(--background-2);
	--project-date: var(--project-text-special);
}

.spotlights > section.left
{
	--project-panel-a: var(--project-panel-1);
	--project-panel-b: var(--project-panel-2);
}

.spotlights > section.right
{
	--project-panel-a: var(--project-panel-2);
	--project-panel-b: var(--project-panel-1);
}

:root #highlight-projects {
    --side-title: var(--nav-span);
}

:root #work-projects {
    --side-title: var(--nav-span-2);
}


@media screen and (min-width: 980px) {
	.project-reel-container {
    position: relative;
	width: 481px; /*1924*/
	}

  .project-bg {
    position: relative;
    /* width: 481px; */
    width: 481px; /*1924*/
    height: 270px; /*1080px*/
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 300ms ease-in;
    cursor: pointer;
    /* top: 50%; */
    /* margin-top: 25%; */
  
     /* background:white;  */

	 border-radius:1em;
	 display: inline-block;
  }

  .project-bg video {
    position: relative;
    width: 481px;
  
    /* transform:translateZ(20px); */
    
    transition: 500ms ease-out;
  
    border-radius:1em;

    /* box-shadow: 0 0 12px 8px #ffffff2a; */
    /* box-shadow: 0 0 12px 8px #0000002a; */
    background: #ffffff2a;
  }

  .bg-perspective-left {
    transform: perspective(800px) rotateY(40deg) rotateX(20deg) /*translateY(-50%)*/;
    transform-origin: center;
    float: left;
    clear: both; /* Add this to avoid wrapping */
}

.bg-perspective-right {
  transform: perspective(800px) rotateY(-40deg) rotateX(20deg) /*translateY(-50%)*/;
  float: right;
  clear: both; /* Add this to avoid wrapping */
} 

  .project-bg:hover {
    transition: all 300ms ease-in;
    /* transform: perspective(800px) rotateY(220deg) rotateX(-20deg); */
    width: 481px; /*1924*/
  }

  .open-project-page-icon {
    position: absolute;
    
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0, 0);

    width: 100px;

    transition: transform 300ms ease-in;
  }

  .project-bg:hover .open-project-page-icon {
    transform: translateX(-50%) translateY(-50%) scale(1.1, 1.1);

    transition: transform 300ms ease-in;
  }

  .project-bg:hover video {
    transition: all 500ms ease-in;
    /* opacity: 0; */
  }

  .bg-perspective-left:hover {
    transform: perspective(500px) rotateY(-20deg) rotateX(20deg) translateX(-60px) scale(1.05);
  }

  .bg-perspective-right:hover {
    transform: perspective(500px) rotateY(20deg) rotateX(20deg) translateX(60px) scale(1.05);
  }

  .project-bg video:hover {
    filter:none;
  }
}


@media screen and (max-width: 980px) {
  .project-bg {
    position: relative;
    transition: all 300ms ease-in;
    /* width: 100%;
    height: 500px;*/

    height: auto;
    grid-area: 1/-1;
    cursor: pointer;

  }

  .open-project-page-icon {
    display: none;
  }
/* 
  .bg-container{

    grid-area: 1/-1;
  } */
  

  .project-bg video {
    /* filter: sepia(100%) hue-rotate(-20deg) brightness(25%); */
    transition: 0.25s ease-out;
    
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video fills the container while maintaining its aspect ratio */

    border-radius: 1em;
  }



  .project-bg{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .project-bg video:hover {
    transition: 500ms ease-out;
    transform: scale(1.1);
  }

  .project-bg video:hover {
    filter:none;
  }
}


.read-more-button {
	position: relative;
	padding-top: 1em;
}

.read-more-button > div {
	height: 32px;
	width: 32px;
	background-size: contain;
}


/* Read More Btn */
@media screen and (min-width: 980px) {
 	#work-projects .read-more-button > div {
	background-image: url(../../images/icons/read-more-2.png);
	}

#projects .read-more-button > div {
	background-image: url(../../images/icons/read-more.png);
}
}

@media screen and (max-width: 980px) {
	.read-more-button > div {
		background-image: url(../../images/icons/read-more-2.png);
	}
}


/* Basic */
	.spotlights .project-title {
		font-family: "A-OTF Shin Go Pro H";
		writing-mode: vertical-lr;

		text-transform: uppercase;
		letter-spacing: 0.10em;
		font-size: 2em;
		position: relative;
		white-space: nowrap;
		
		color: var(--text-light);

		}

		.ribbon-vertical {
			background: var(--colour-bright);

			position: relative;
			padding: 0.5em;
			right: 0;
			top: calc(-4em - 0.75em);

			cursor: pointer;
		}
		  
		.ribbon-vertical::before{
			content: '';
			position: absolute;

			top: 0;
			border-top: 5px solid transparent;
			border-bottom: 5px solid var(--colour-dark);
		}
		  .ribbon-vertical.left::before{
			left: -9px;
			border-left: 5px solid transparent;
			border-right: 5px solid var(--colour-dark);
		  }
		  .ribbon-vertical.right::before{
			right: -9px;
			border-left: 5px solid var(--colour-dark);
			border-right: 5px solid transparent;
		  }
		  
		  .ribbon-vertical::after{
			z-index: -2;
			content: '';
			position: absolute;

			left: 0;
			border: 23px solid var(--colour-bright);
			border-bottom: 23px solid transparent;

			width: 100%;
		  }

		  .ribbon-vertical-content
		  {
			position: relative;
			top: calc(4em + 0.75em);
			margin-bottom:  calc(4em + 0.75em);
		  }


		@media screen and (max-width: 980px) {
			.ribbon-vertical {
				top: 0;
				background:none;
			}

			.ribbon-vertical .ribbon-vertical-content {
				top: 0;
			}

			.ribbon-vertical::before,
			.ribbon-vertical::after{
				border:none;
			}

			.ribbon-vertical-content
			{
			  top: 0;
			  margin-bottom: 0;
			}
		}

		@media screen and (min-width: 980px) {
			.spotlights .project-title {
			line-height: 1.25em;
			}
		}



		.side-title.projects-header.perspective
		{
			transform: translateX(-130px);
			margin-top: 2em;
		}


	.spotlights .project-date {
		font-family:'A-OTF Shin Go Pro H';
		writing-mode: vertical-lr;

		position: absolute;
		right: -2em;

		top: 50%;
		transform: translateY(-50%);
	}

	.project-date
	{
		color: var(--project-date);
	}

	#projects .project-date
	{
		color: var(--project-text-special);
	}

	@media screen and (max-width: 980px) {
		.spotlights .project-date {
			right: -1em;
		}

		.project-category
		{
			color: var(--text-light);
		}
	}

		.spotlights .description p {
			text-align: justify;
		}
		.spotlights .description{
			display: flex;
			gap: 1em;
			justify-content: space-between;
			height: 100%;
			transform: none;
		}

		.description{
			color: var(--plain-text-colour);
		}

@media screen and (max-width: 980px) {
	.spotlights .description {
		display: flex;
		grid-area: 1/-1;
	
		z-index: 1;
	
		align-self: start;
		justify-self: start;
	
		padding: 20px;
		

		pointer-events:none;

		align-items: center;

		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

		font-family:'A-OTF Shin Go Pro L';
	}

	.spotlights .description p,
	.spotlights .description .project-title {
		text-shadow: 3px 3px 6px #000000;
	}

	.description{
		color: var(--text-light);
	}

	.spotlights .description .project-tech-list,
	.interactable,
	.tech {
		pointer-events:all;
	}
	
}

@media screen and (max-width: 736px) { 
	.spotlights .description {
		align-items: start;
	}
}

/* Spotlights */
	.spotlights {
		/* background:#1A191D; */
		border-radius: 1em;
		margin-bottom: 150px;
	}

	.spotlights > section {
		/* display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex; */
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		/* min-height: 22.5em; */
		
		border-radius: 3em;
		
		position: relative;
		
		margin-top: 80px;

	}
	.spotlights > section {
		background: linear-gradient(90deg,var(--project-panel-a), var(--project-panel-b));
	}

	  .spotlights > section .project-bg video {
		filter: sepia(100%) hue-rotate(var(--project-reel-filter-shift));
	  }

	  .spotlights > section .project-bg video  {
		box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.4);
	  }

	.spotlights > section .project-bg:hover::after {
		opacity: 0%;
	}

	  .spotlights > section .project-bg:hover {
		filter: none;
	  }

		body.is-ie .spotlights > section {
			min-height: 0;
		}

		.spotlights > section > .content {
			/* padding: 4em 5em 2em 5em ; */
				/* padding: 4em 4em 2em 4em ; */
				display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			/*width: 50em;*/
			-ms-flex: 1;

			display: flex;
			flex-direction: row;
			gap: 2em;
			padding: 4em 4em 4em 4em ;
			
		}

			.spotlights > section > .content > .inner {
				-moz-transform: translateX(0) translateY(0);
				-webkit-transform: translateX(0) translateY(0);
				-ms-transform: translateX(0) translateY(0);
				transform: translateX(0) translateY(0);
				/* -moz-transition: opacity 1s ease, -moz-transform 1s ease;
				-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
				-ms-transition: opacity 1s ease, -ms-transform 1s ease;
				transition: opacity 1s ease, transform 1s ease; */
				opacity: 1;
				
				display: flex;
				justify-content: center;
				align-items: center;
			}

		.spotlights > section.left ul.project-tech-list,
		.spotlights > section.left ul.tech {
			text-align: right;
			justify-content: right;
		}
		.spotlights > section.left .read-more-button {
			float: right;
		}

		.spotlights > section.right ul.project-tech-list,
		.spotlights > section.right ul.tech {
			text-align: left;
			justify-content: left;
		}
		.spotlights > section.right .read-more-button {
			float: left;
		}


		.spotlights > section.inactive > .image:before,
		body.is-preload .spotlights > section > .image:before {
			opacity: 1;
		}

		.spotlights > section.inactive > .content > .inner,
		body.is-preload .spotlights > section > .content > .inner {
			-moz-transform: translateX(-1em);
			-webkit-transform: translateX(-1em);
			-ms-transform: translateX(-1em);
			transform: translateX(-1em);
			opacity: 0;
			
		}

		@media screen and (max-width: 980px) {
			.spotlights {
		margin-top: 80px;

			}

			.spotlights > section > .content > .inner {
				-moz-transform: translateX(0) translateY(0);
				-webkit-transform: translateX(0) translateY(0);
				-ms-transform: translateX(0) translateY(0);
				transform: translateX(0) translateY(0);
				-moz-transition: opacity 1s ease, -moz-transform 1s ease;
				-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
				-ms-transition: opacity 1s ease, -ms-transform 1s ease;
				transition: opacity 1s ease, transform 1s ease;
				opacity: 1;
				position: relative;
				display: grid;

				align-items:normal;
			}

			.spotlights > section {
				background: none;
			}

			.spotlights > section .project-bg {
				/* box-shadow: 0 4px 20px 0 var(--skills-ribbon-1),
							0 6px 20px 0 var(--skills-ribbon-1); */
							box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.4);
			  }


			.spotlights > section {
				display: block;
				background: none;
				/* text-align: center; */
				
			}

			.spotlights > section.right .read-more-button,
			.spotlights > section.left .read-more-button {
				float: none;
			}
			.spotlights > section .read-more-button {
				display: inline-block;
				left: 50%;
				transform: translateX(-50%);
			}
		
			.spotlights > section > .content {
				padding: 3em 2em 1em 2em ;
				padding: 0;


				margin-left: auto;
				margin-right: auto;
				width: 90%;
				
		margin-top: 80px;
			}
			.spotlights > section:nth-child(n) .ribbon-vertical
			{
				background:#00000000;
			}
			.spotlights > section .ribbon-vertical::before,
			.spotlights > section .ribbon-vertical.left::before,
			.spotlights > section .ribbon-vertical.right::before,
			.spotlights > section .ribbon-vertical::after{
				display: none;
			}

			.spotlights > section.left .split section:nth-child(2) {
				order: -1; /* move the second odd to the top */
				border-right: solid 3px var(--project-description-split);
				margin-right: 1em;
				padding-right: 1em;
				padding-left: 0em;
			}

			.spotlights > section.left .split > :nth-child(2n - 1) {
				padding-right: 0em;
				border-right: none;
			}

			.spotlights > section .project-bg video {
				filter: sepia(100%) hue-rotate(var(--project-reel-filter-shift)) brightness(25%);
			  }
	
				.spotlights > section > .content {
					z-index: 1;
					
				}

				.spotlights > section.inactive > .content > .inner,
				body.is-preload .spotlights > section > .content > .inner {
					-moz-transform: translateY(1em);
					-webkit-transform: translateY(1em);
					-ms-transform: translateY(1em);
					transform: translateY(1em);

				}
		}
		.spotlights > section .project-bg video:hover {
		   filter: none;
		 }

		@media only screen and ((min-width: 980px) and (max-width: 1280px)),
		(max-width: 736px)
		{ 
			.spotlights > section.left .split {
				display: flex;
				flex-direction: column;
			}

			.spotlights > section.left .split section:nth-child(2) {
				order: -1; /* move the second section to the top */
				border-right: none;
			}

			  .spotlights > section.left .split > :nth-child(2n) {
				padding-right: 0em;
				margin-right: 0em;
				border-right: none;
				
			}

			.spotlights > section.left .split > :nth-child(2n - 1) {
				padding-right: 0em;
			}

			  .spotlights > section.left .split > :first-child {
				border-top: solid 3px var(--project-description-split);
			}

			.spotlights > section.left .split > * {

				border-top: none;
			}
		}



		#big-reel {
		position: relative;
			width: 100%;
			height: 100vh;
			transition: height 1s ease; 
		}

		#big-reel video.main-video {

				object-fit:contain;
			/* background-color: #263D4C; */
		}

		/* @media screen and (min-width: 980px) {
			#big-reel video.main-video {
				padding-top: 7.5em;
			}
		} */


	#about-me {
		position: relative;
		/* padding: 2em 5em; */
		text-align: center;
  		color: var(--text-light);
		width: 100%;
		font-size: 1em;
		padding-top: 0;

		z-index: 0;
		background-color: var(--background-1);
		font-family: "A-OTF Shin Go Pro L";
	}

	#skills {
		position: relative;
		
		display: inline-block;
		width: 100%;
		background-color: var(--skills-ribbon-1);
		padding-top: 2.5em;
		padding-bottom: 2.5em;
		margin-bottom: 5em;
	}

	#skills > div
	{
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	#skills > div > h2 {
		color: var(--text-light);
		padding-bottom: 1em;
	}

	#about-content {
		position: relative;
		background: var(--background-1);
		z-index: 1;
		padding-top: 2.5em;
		/*padding-bottom: 5em;*/
	}

	#about-me-container h2,
	#tech-xp-container h2 {
		/* color: var(--text-light); */
		padding-bottom: 0.5em;
	}

	#about-me-container {
		position: relative;
		padding-bottom: 5em;

		margin: 0 auto;
		width: 100%;
		max-width: 60%;
		max-width: 65%;
		bottom: 0;
		text-align: center;
}

	#tech-xp-container {
		position: relative;
		padding-bottom: 5em;

		margin: 0 auto;
		width: 100%;
		max-width: 60%;
		max-width: 65%;
		bottom: 0;
		text-align: center;
}

	  @media screen and (max-width: 980px) {
		#about-me-container {
			max-width: 90%;
		  }
		  #tech-xp-container {
			max-width: 90%;
		  }
	}
	  
	  .about-text p {
		margin: 0;
	  }

	  #highlight-projects::before {
		position: absolute;
		content: "";
		top: 0;
		background: linear-gradient(var(--background-1), #00000000);
		height: 100px;
		width: 100%;
	}


		#work-projects {
			z-index: 2;
		font-family: "A-OTF Shin Go Pro L";
		}

		#work-projects::before {
			position: absolute;
			content: "";
			top: 0;
			background: linear-gradient(var(--background-4), #00000000);
			height: 100px;
			width: 100%;
		}

		#work-projects::after {
			position: absolute;
			content: "";
			bottom: 0;
			background: linear-gradient(var(--background-3), #00000000);
			height: 100px;
			width: 100%;
			transform: translateY(99%);
		}
		
		.project-section {
			background-color: var(--bg);
		}

/* Featured */

	#featured {
		position: relative;
		padding: 5em 5em;

		margin: 0 auto;

		width: 1200px;
	}

	@media screen and (max-width: 1280px) {

		#featured {
			/* width: 90%; */
			width: 95%;
		}

	}

	@media screen and (max-width: 1080px) {

		#featured {
			width: 95%;
		}

	}

	@media screen and (max-width: 980px) {

		#featured {
			width: 100%;
		}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 9.5pt;
			}

			#featured .project-title {
				font-size: 2em;
			}

		/* Featured */

			#featured .project-title {
				letter-spacing: 0.10em;
		}
	}

/* Narrow */

	@media screen and (max-width: 1080px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 9.5pt;
			}

		/* Featured */

			#featured {
				padding: 5em 3em 2em 3em;
			}

				#featured .project-title {
					/* padding: 0.80em 0em 0.50em 0em; */
					letter-spacing: 0.10em;
					/* font-size: 1.6em; */
					font-size: 2.5em;

		}
	}

/* Narrower */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 980px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				font-size: 9.5pt;
				letter-spacing: 0.05em;
			}

			form {
				width: 100%;
			}

		/* Featured */

			#featured .project-title {
				font-size: 3em;
				text-decoration: none;
				line-height: 0.5em;
			}
	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				/* line-height: 1.75em; */
				font-size: 9.5pt;
				letter-spacing: 0.05em;
			}

			body {
				padding-top: 0px;
				min-width: 320px;
			}

			section, article {
				clear: both;
				/* margin: 2em 0 2em 0 !important; */
			}

				section > :first-child, section:first-child, article > :first-child, article:first-child {
					margin-top: 0 !important;
				}

			#content {
				padding: 0;
			}

		/* Featured */

			#featured {
				padding: 3em 2em 2em 2em;
				/* text-align: center; */
			}
	}

	.spotlights {
		margin-top: 8em;
	}


	#hero-buttons-container {
		position: relative;
		background: var(--about-me-bg-2);
		margin: 0 auto;
        padding: 20px;
	}

	:root .hero-buttons > a:nth-child(n) {
		--colour-bright: var(--purple);
		--colour-dark: black;
	}
	:root .hero-buttons > a:nth-child(2n) {
		--colour-bright: var(--colour-1-bright);
		--colour-dark: var(--colour-1-dark);
	}
	:root .hero-buttons > a:nth-child(3n) {
		--colour-bright: var(--colour-2-bright);
		--colour-dark: var(--colour-2-dark);
	}
	:root .hero-buttons > a:nth-child(4n) {
		--colour-bright: var(--colour-3-bright);
		--colour-dark: var(--colour-3-dark);
	}
	:root .hero-buttons > a:nth-child(5n) {
		--colour-bright: var(--colour-4-bright);
		--colour-dark: var(--colour-4-dark);
	}

	:root .accordion .hero-buttons > a:nth-child(n) {
		--colour-bright: var(--secondary-1);
		--colour-dark: var(--nav-background);
	}
	:root .accordion .hero-buttons > a:nth-child(2n) {
		--colour-bright: var(--secondary-2);
		--colour-dark: var(--nav-background);
	}

	.hero-buttons {
		display: flex;
		flex-direction: row;
		list-style: none;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding-bottom: 20px;
	}

	.hero-buttons > a {
        position: relative;
        padding: 10px;
        cursor: pointer;
		/* width: max-content; */
        font-family:'A-OTF Shin Go Pro M';
		letter-spacing: 3.5px;
		text-align: center;
		color: var(--text-light);
        background-color: var(--colour-bright);
        transition: background-color 0.15s ease-in, color 0.15s ease-in;
		z-index: 10;
		max-width: 500px;
	}

	#hero-buttons-container .hero-buttons > a {
		width: 200px;
	}

	.hero-buttons > a:hover {
        background-color: var(--colour-dark);
	}

	@media screen and (max-width: 980px) {
		.hero-buttons {
			flex-direction: column;
		}

		.hero-buttons > a {
			width: 300px;
		}
	}

	html {
		scroll-behavior: smooth;
	}

	/* #education-section .heading.work-experience-header.left
	{
		transform: translateX(-45px) translateY(-50%);
	} */

	#projects {
		padding-bottom: 100px;
		z-index: 0;
	}

	#projects::after {
		position: absolute;
		content: "";
		bottom: 0;
		background: linear-gradient(#00000000, var(--background-1));
		z-index: 24;
		height: 100px;
		width: 100%;
	}

	#education-section {
			background-color: var(--background-1);
		z-index: 2;
		color: var(--text-light);
		font-family: "A-OTF Shin Go Pro L";
	}

	#education-content > p {
		text-align: center;
	}

#education-section .heading {
	text-align: center;
}

	#education-content {
		position: relative;
		margin: 0 auto;
		width: 1100px;
	  
		padding: 5em 5em;
	  
		text-align: justify;
	}


    @media screen and (max-width: 1280px) {
  
		#education-content {
        width: 90%;
      }
  
    }
  
    @media screen and (max-width: 1080px) {
  
		#education-content {
        width: 95%;
      }
  
    }
  
    @media screen and (max-width: 980px) {
  
		#education-content {
        width: 100%;
      }
    }

	@media screen and (max-width: 736px) {
		#education-content {
      padding: 5em 2em 2.5em 2em;
    }
  }